.bodyBanner {
    @include BannerBody;
    @include BannerImgBody;

    @include mobile {
        height: 111px;
        width: 335px;
        margin: 20px;
        margin-top: 0;
        border-radius: 10px
    }

}

.BannerImgTxt {
    @include BannerImgTxt;

    @include mobile {
        height: 48px;
        width: 217px;
        font-size: 24px;
        margin: 0px;
        padding: 0;
        padding-left: 16px;
        padding-top: 16px;

    }

}


.bodyContainer {
    @include background-body;
    display: flex;
}

.containerCards {
    @include cardsContainer;
}

.cardsTitle {
    @include cardsText;

    @include mobile {}
}

/* 404  Error Page */

.Errortxt {
    @include Errortxt;

    @include mobile {
        height: 99px;
        width: 198px;
        font-size: 96px;
        margin-bottom: 11px
    }
}

.ErrorDescTxt {
    @include descErrortxt;

    @include mobile {
        height: 52px;
        width: 260px;
        font-size: 18px;
        text-align: center;
        margin: auto;
        margin-bottom: 133px;
    }
}

.linkError {
    @include linkError;

    @include mobile {
        height: 20px;
        width: 221px;
        font-size: 14px;
        margin-bottom: 235px;
    }
}