.bodyBanner {
    height: 223px;
    width: 1240px;
    margin-left: 100px;
    margin-right: 100px;
    margin: auto;
    margin-bottom: 43px;
    background-image: url("../../assets/img/BodyPropos.png");
    filter: brightness(0.7);
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background-position: center;

    @include mobile {
        height: 111px;
        width: 335px;
        margin: 20px;
        margin-top: 0;
        border-radius: 10px;
        background-size: cover;
        background-position: center;

    }
}

.BannerImgTxt {
    font-family: $primary-font;
    font-style: normal;
    font-weight: $medium-weight;
    font-size: $font-size;
    line-height: 142.6%;
    /* or 68px */
    display: flex;
    justify-content: center;
    color: $color-tertiary;
    padding-top: 78px;

    @include mobile {
        height: 48px;
        width: 217px;
        font-size: 24px;
        margin: 0px;
        padding: 0;
        padding-left: 16px;
        padding-top: 16px;
    }

}


.bodyContainer {
    height: 779px;
    width: 1140px;
    background: #F7F7F7;
    border-radius: 25px;
    margin: auto;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: -56px;
    display: flex;
}

.containerCards {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.cardsTitle {
    height: 52px;
    width: 300px;
    padding-top: 268px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;

    @include mobile {}
}

/* 404  Error Page */

.Errortxt {

    height: 263px;
    width: 597px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: $strong-weight;
    font-size: 288px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $color-primary;
    margin: auto;
    margin-top: 169px;

    @include mobile {
        height: 99px;
        width: 198px;
        font-size: 96px;
        margin-bottom: 11px
    }
}

.ErrorDescTxt {
    font-family: $primary-font;
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $color-primary;
    margin-bottom: 182px;

    @include mobile {
        height: 52px;
        width: 260px;
        font-size: 18px;
        text-align: center;
        margin: auto;
        margin-bottom: 133px;
    }
}

.linkError {
    height: 26px;
    width: 284px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration-line: underline;
    color: $color-primary;
    margin-bottom: 159px;
    margin: auto;
    margin-bottom: 159px;
    text-decoration-color: $color-primary;

    @include mobile {
        height: 20px;
        width: 221px;
        font-size: 14px;
        margin-bottom: 235px;
    }
}


/* A PROPOS */

.bodyBannerPropos {
    height: 223px;
    width: 1240px;
    margin-left: 100px;
    margin-right: 100px;
    margin: auto;
    margin-bottom: 43px;
    background-image: url("../../assets/img/BodyPropos.png");
    filter: brightness(0.7);
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background-position: center;
    display: flex;

    @include mobile {
        height: 223px;
        width: 336px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 0;
        border-radius: 10px;
        background-position: none;
        background-size: cover;
    }
}

