.bodyBanner {
    @include BannerBody;
    @include BannerImgBody;

    @include mobile {
        @include BannerBodyMobile;
    }
}

.BannerImgTxt {
    @include BannerImgTxt;

    @include mobile {
        @include BannerImgTxtMobile;
    }

}


.bodyContainer {
    @include background-body;
    display: flex;
}

.containerCards {
    @include cardsContainer;
}

.cardsTitle {
    @include cardsText;

    @include mobile {}
}

/* 404  Error Page */

.Errortxt {
    @include Errortxt;

    @include mobile {
        @include ErrortxtMobile;
    }
}

.ErrorDescTxt {
    @include descErrortxt;

    @include mobile {
        @include ErrorDescTxtMobile;
    }
}

.linkError {
    @include linkError;

    @include mobile {
        @include linkErrorMobile;
    }
}


/* A PROPOS */

.bodyBannerPropos {
    @include BannerBody;
    @include BannerImgBody;
    display: flex;

    @include mobile {
        height: 223px;
        width: 336px;
        margin: 20px;
        margin-top: 0;
        border-radius: 10px
    }
}

/* Drop menu */

.dropbtncontainer {
    @include dropbtncontainer;

    @include mobile {
        @include dropbtbncontainerMobile;
    }
}

.dropbtn {
    @include dropbtn;

    @include mobile {
        @include dropbtnMobile;
    }
}

.txtbtndrop {
    @include txtbtndrop;

    p {
        @include txtbtndropP;

        @include mobile {
            @include txtbtndropMobile;
        }
    }
}

.txtondropbtn {
    @include txtondropbtn;

    @include mobile {
        @include txtondropbtnMobile;
    }
}

.arrowbtn {
    @include arrowbtn;

    @include mobile {
        @include arrowbtnMobile;
    }
}